@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

html, body {
    height: 100%;
    background-color: rgb(36, 28, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 600px;
    justify-items: center;
    align-items: center;
    gap: 1em 1em;
}

button, .cpu-selection {
    padding: 0;
    margin: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 0.1em solid white;
    background-color:transparent;
    text-align: center;
    font-size: 2em;
    transition-duration: 0.2s;
}

button:hover {
    border-color: lightgreen;
    background-color: lightgreen;
}

button.flash {
    border-color: red;
    background-color: red;
}

.cpu-selection {
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.5);
}

.choice-box {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.span-row {
    grid-column: 1/-1;
}

hr {
    border: 0.1em dashed white;
    width: 100%;
}